<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:configChanges="orientation|screenSize">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <package android:name="com.dunamu.exchange" />
        <package android:name="com.btckorea.bithumb" />
        <package android:name="coinone.co.kr.official" />
        <package android:name="com.binance.dev" />
        <package android:name="com.bybit.app" />
        <package android:name="com.korbit.exchange" />
        <package android:name="kr.co.gopax" />

        <package android:name="com.ddengle.app" />
        <package android:name="com.coinpan.coinpan" />
        <package android:name="mnet7.mobile" />
        <package android:name="live.coinness" />
        <package android:name="com.cobak.android" />
        <package android:name="kr.blockchainhub.app" />
        <package android:name="com.dcinside.app" />
        <package android:name="com.fmkorea.m.fmk" />

        <package android:name="com.coinmarketcap.android" />
        <package android:name="com.coingecko.coingeckoapp" />
        <package android:name="com.crossangle.xangle" />

        <package android:name="com.coincal" />
    </queries>

    <application
        android:name=".MoeuiBitApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="모의비트"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoeuiBit"
        android:usesCleartextTraffic="true">

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8481465476603755~9217250246" />

        <activity
            android:name="org.jeonfeel.moeuibit2.ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>